@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.active hr{
  @apply block
}
*{
  font-family: Outfit;
}


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width:94%;
}

::-webkit-scrollbar{
  @apply hidden
}

@media(max-width:740px){
  .active p{
    @apply text-white bg-primary
  }
}